
.header-div {
  border: 4px outset green;
  border-radius: 10px 10px;
  display: flex;
}

.section-header-div {
  height: 7px;
  background-color: #2DC261;
  width: 13%;
  position: absolute;
  top: 38%;
}

.section-header-title {
  color:#2DC261;
  font-size: x-large;
  position: relative;
  left: 18%;
}

.topnav {
  background-color: #2dc261;
  overflow: hidden;
  margin-bottom: 1%;
  border-radius: 10px 0px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  color: white;
}

.h1{
  
  color:#C8C8C8;
  text-align: left;
}
.a{
   color:blue;
}

.hr{
  height:7px; 
  border:none; 
  color:#000; 
  background-color:#2DC261; 
  width:120px; 
  }


.table1{
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  
}
.th1, .td1 {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}


.title-line {
  height: 7px;
  background-color: #2DC261;
  width: 10%
}